.container {
  max-width: 1310px;
}

.orange {
  background-color: #f72210;
}

.text-black,
.main-menu-list li a,
.main-menu-list .last-item a:hover,
.article-title,
.article-title:hover,
.opinion-section a {
  color: black;
}

.orange-text {
  color: #f72210;
}

.small-logo svg {
  fill: white;
  width: 132px;
  height: 20px;
}

.center-logo {
  position: absolute;
  top: 20%;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
}

.center-logo svg {
  fill: white;
  width: 90em;
  width: 25em;
}

.arrow-subscribe {
  display: none;
}

.head-container {
  min-width: 20em;
}

.toggler-menu {
  min-width: 16em;
}

.login-info {
  font-size: 0.8rem;
}

.weather-temperature {
  font-size: 0.9rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(251, 154, 148, 1)' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.sign-in:hover{
  text-decoration: none;
  color: white;
}

.subscribe-in:hover{
  text-decoration: none;
  color: #f72210;
}

.main-menu-list a:hover,
.link-subscribe-2:hover {
  text-decoration: none;
  color: #f72210;
}

.main-menu-list .last-item a:hover {
  text-decoration: none;
}

.main-nav {
  width: 95%;
}

.link-subscribe,
.link-subscribe:hover {
  color: white;
}

.link-subscribe:hover,
.link-subscribe-2:hover {
  text-decoration: none;
}

.main-menu-list::before {
  position: absolute;
  top: -16px;
  right: 0; 
  content: "";
  display: block;
  width: 5%;
  background-color: #f72210;
  border-left: 0.75rem solid white;
  border-top: 0.8125rem solid #f72210;
}

main .text-muted {
  font: 16/16;
}

.category-image {
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
}

.category-image a:hover{
  text-decoration: none;
  color: #f72210;
}

.article-title {
  font-size: 1.1rem;
}

.article-title:hover {
  text-decoration: underline #f72210;
}

.summary {
  font-size: 0.8rem;
}

.card-img-top {
  border-radius: 0;
}

.section-separator {
  width: 100%;
}

.opinion-section a {
  font-size: 0.9rem;
}

.opinion-section a:hover{
  color: #f72210;
  text-decoration: none;  
}

.opinion-section p {
  font-size: 0.75rem;
}

.opinion-section .rounded-circle,
.debate-section .author-img {
  width: 63px;
  height: 63px;
}

.debate-item-1 {
  border-top: solid 4px red;
}

.debate-item-2 {
  border-top: solid 4px #1c87fb
}

.author-debate {
  font-size: 0.8rem;
}

.debate-section .vs-item {
  width: 40px;
  height: 40px;
  background-color: black;
  line-height: 40px;
  font-size: 0.8rem;
}

.debate-section .author-img {
  float: right;
}

@media (min-width: 481px) {

  .login-info {
    font-size: 1rem;;
  }

  .arrow-subscribe{
    display: inline-block;
  }

  .subscribe-in {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}


@media (min-width: 576px) {
  .city-country {
    display: none;
  }
}

@media (min-width: 641px) {
  .city-country {
    display: inline-block;
  } 
}